:root {
  --gradient-primary: linear-gradient(to top left, #da0101e1, #fa000054);
}
.intropage {
  max-width: 200vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  background-image: url(./f12022-car.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5vh;
}
.intropage-message {
  max-width: 200vh;
  width: 100%;
  max-height: 30vh;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.541);
  column-gap: 5vh;
  row-gap: 0vh;
}
.highlight {
  position: relative;
}
.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 8vh;
  height: 100%;
  width: 100%;
  z-index: -1;
  border: 1vh groove rgb(255, 255, 255);
  transform: scale(1.1, 1.05) skewX(-10deg);
  background-image: var(--gradient-primary);
  box-shadow: 2vh 2vh 2vh 1vh rgba(0, 0, 0, 0.274);
}
h1 {
  z-index: 1;
  font-size: 6vh;
  color: rgb(255, 255, 255);
  align-items: center;
  font-family: "Orbitron", sans-serif;
}
h2 {
  z-index: 1;
  font-size: 6vh;
  color: rgba(255, 0, 0, 0.568);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
}

.intropage-preview {
  max-height: 50vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5vh;
}
