.standings-page {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
  justify-content: center;
  align-items: center;
}
.standings-nav {
  max-width: 180vh;
  width: 100%;
  display: flex;
  gap: 5vh;
  justify-content: space-evenly;
  text-align: center;
}
.Standings-main-option {
  display: flex;
  align-items: center;
  max-width: 85vh;
  min-height: 60vh;
  height: 100%;
  width: 100%;
  font-size: 13vh;
  font-family: "Press Start 2", cursive;
  color: white;
  text-shadow: 1vh 2vh 1vh rgb(214, 104, 104);
  text-decoration: none;
  border: 1.5vh double #8000208f;
  border-radius: 5vh;

  background-position-x: -2vh;
  background-position-y: -2vh;
  background-size: 105% 105%;
  align-self: center;
  background-origin: content-box;
  &.drivers {
    background-image: url(../StandingsPage-main/driver-standings-image.png);
  }
  &.constructors {
    background-image: url(../StandingsPage-main/constructors-image.jpg);
  }
}
