.constructors-standigs-item {
  font-size: 3vh;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 3px;
  color: rgb(0, 0, 0);
}

.constructors-standings-table {
  border-spacing: 0;
}

td {
  text-align: center;
}

.constructors-standings-label {
  font-size: 3vh;
  margin-bottom: 3vh;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.5vh;
}
.constructors-standings {
  background-color: rgba(0, 0, 0, 0.534);
  margin: 1vh;
  padding: 1vh;
  border: 1vh double #800020;
  border-radius: 5vh;
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
  max-height: 40vh;
  height: 100%;
  max-width: 60vh;
  width: 100%;
}
.constructors-standings-name {
  display: flex;
  justify-content: flex-start;
  color: white;
}
.constructors-standings-points {
  display: flex;
  justify-content: flex-end;
  color: #800020;
}
