.navigation {
  background-color: #e91e03;
  border: 0.5vh groove white;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 100%;
  display: flex;
  margin-top: 1vh;
  align-content: center;
  max-width: 200vh;
  width: 100%;
}
